<!DOCTYPE html>
<html lang="en">
<head>

<!-- Basic Page Needs
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
	<title>cwine 0.01</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FONT
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">

	<!-- CSS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->

	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/skeleton.css">
	<link rel="stylesheet" href="css/editor.css">

	<!-- Favicon
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="icon" type="image/png" href="images/favicon.png">

	<script src="https://code.createjs.com/easeljs-0.8.1.min.js"></script>
	<script src="https://code.createjs.com/tweenjs-0.6.1.min.js"></script>
	
</head>
<body>
	<!-- Primary Page Layout
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<header>
		<h6 class="noselect">cwine v0.01</h6>
	</header>
	
	<div id="progress">
		<p>loading..</p>
		<div id="progress_bg"><div id="progress_bar" style="height:100%; width:0%;"></div></div>
	</div>

	<div id="view"><canvas id="edit_canvas"></canvas></div>

	<div id="react"></div>
	<div class="font-preload" style="display:none;">
		<span style="font-family:KomikaHand;"></span>
		<span style="font-family:KomikaHand; font-weight:bold"></span>
		<span style="font-family:KomikaHand; font-style:italic"></span>
	</div>

	<script src="js/cwine-editor-bundle.js"></script>
</body>
</html>