@font-face {
    font-family: 'KomikaHand';
    src: url('font/Komika_Hand.ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'KomikaHand';
    src: url('font/Komika_Hand_Bold.ttf');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'KomikaHand';
    src: url('font/Komika_Hand_Italic.eot');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'KomikaHand';
    src: url('font/Komika_Hand_Bold_Italic.eot');
    font-weight: bold;
    font-style: italic;

}

body {
	background-color:#ccc;
	overflow:hidden;
}

html, body {
	width:100%;
	height:100%;
	margin:0;
}

header {
	float:left;
	position:absolute;
	text-align:center;
	top:0;
	padding: 5px 10px;
	background-color:rgba(10,10,10,0.25);
	color:#ccc;
	pointer-events:none;
}

header h6 {
	margin:0;
}

footer {
	float:left;
	position:absolute;
	bottom:0;
}

footer p {
	margin:0;
	font-size:1rem;
}

canvas {
}

#file-panel {
	margin: 20px 0 10px 0;
}

#progress {
	opacity: 0;
	color:#999;
	width:100px;
	padding:10px;
	position:absolute;
	left:5px;
	top:30px;
	margin: 0 auto;
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
	border-radius: 15px;
	background-color: rgba(0,0,0,0.5);
	-webkit-transition: opacity 1s;
    transition: opacity 1s;
}

#progress p {
	line-height: 0.3em;
	margin: 0 0 8%;
}

#progress_bg {
	background-color: #000;
	width:100%; 
	height:5px;
	border:1px solid #157; 
	display:block;
	margin: 0 auto;
	border-radius: 15px;
}

#progress_bar {
	background-color: #157;
	-webkit-transition: width 0.5s;
    transition: width 0.5s;
}

#view {
	float:left;
	width:100%;
	height:100%;
}

#sidebar {
	float:left;
	position: absolute;
	right:0;
	width:280px;
	height:100%;
	padding:0;
	padding-top:10px;
	background-color:#444;
	background-color:rgba(40,40,40,0.8);
	color:#ccc;
	-webkit-transition: width 0.3s;
    transition: width 0.3s;

	overflow-y:scroll;
	overflow-x:hidden;
}

#sidebar label {
	color:#ccc;
	font-size:1rem;
}

#file {
	padding:10px;
}

input[type="text"] {
	color:#333;
	font-size:1.2rem;
	font-weight:bold;
	height:25px;
	width:120px;
	margin:0;
	top:0;
}

input[type="number"] {
	color:#333;
	font-size:1.2rem;
	font-weight:bold;
	height:30px;
	width:100px;
	margin:0;
	top:0;
}

input[type="file"] {
	font-size:1.2rem;
}

textarea {
	color:#333;
	font-size:1.2rem;
	font-weight:bold;
	width:100%;
	min-height: 0;
}

#properties {
	padding:18px;
	background-color:#222;
}

.prop-description {
	clear:both;
	display:block;
	font-style:italic;
	font-size:70%;
}

.node-type {
	font-size: 70%;
	color:#999;
	margin-right: 10px;
	font-style:italic;
}

.element-list {
	list-style-type: none;
	width:70%;
}

.element-list-item {
	background-color:#444;
	padding: 3px 7px;
	border: 1px solid #666;
	border-radius: 5px;
	margin:3px;
}

.element-list-item:hover {
	background-color:#4f4f4f;
	border-color: #aaa;
	cursor:pointer;
}

.field {
	margin-top:20px;
	clear:both;
	font-size:80%;
}

.field p  {
	margin:0;
	padding:0;
}

.static-value {
	line-height:30px;
	font-style: italic;
	color:#aaa;
	margin:0;
}

.labelside {

}

.labeltop input[type="text"] {
	width:100%;
}

.labeltop p {
	
}

.labelafter p {
	margin-left:10px;
	display:inline-block;
}

.labelafter input[type="checkbox"] {
	display:inline-block;
}

.labelside input[type="text"] {
}

.multi-field input[type="text"] {
	width:50%;
	margin: 0 5px;
}
.multi-field {
	display:block;
	height:30px;
}
.small-field {
	font-size:80%;
	margin:0;
	margin-right: 2%;
	width:48%;
	float:left;
}

.labelside p {
	line-height:30px;
	float:left;
	clear:none;
	margin-right:10px;
}

.buttons {
	list-style: none;
	display:block;
	height:30px;
	margin:0;
}

.buttons li {
	font-size:70%;
	margin:6px 2px;
	padding:5px;
	line-height: 5px;
	border: 1px #ccc solid;
	float:left;
	font-weight: bolder;
	display:block;
}

.buttons li:hover {
	background-color: #666;
	cursor:pointer;
}

.buttons li.selected {
	background-color: #156;
	cursor:default;
}


#object-name {
	font-weight:bold;
}

#object-name span {
	font-weight:normal;
	color:#999;
	font-size:75%;
	margin-left:10px;
}
/*
.react-tabs [role=tablist] {
	margin:0;
	border:0;
}

.react-tabs [role=tab] [aria-selected=true] {
	background-color: #666;
}

.tabs {
	font-size: 70%;
	font-weight: bolder;
	margin:0;
}

.tab {
	margin-left:10px;
	margin-bottom: 0;
	background-color: #666;
	border-radius: 5px 5px 0 0;
}

.tab-panel {
	min-height: 100px;
	background-color: #333;
}

/*.tabs ul {
	clear:both;
	display:block;
	list-style:none;
	padding:4px;
	width:100%;
}

.tabs li {
	float:left;
	display:block;
	background-color:#333;
	color:#aaa;
	font-size:80%;
	font-weight:bolder;
	padding:5px 10px;
	margin:0;
	margin-right:2px;
	border-radius: 10px 10px 0 0;
	cursor:pointer;
}

.tabs li:hover {
	background-color:#222;
}

.tabs .selected {
	background-color:#222;
	color:#ccc;
}

.tabs .selected:hover {
	background-color:#222;
}*/

#sidebar .button {
	color:#444;
	margin-left:10px;
	background-color:#ccc;
	border-color:#ddd;
	padding:5px 10px;
	height:25px;
	font-size:1rem;
	line-height:1rem;
}

#sidebar .button-primary {
	color:#ccc;
	background-color:#355;
	border-color:#466;
}

#sidebar .button:hover {
	border-color:#fff;
	background-color:#eee;
}

#sidebar .button-primary:hover {
	background-color:#466;
	border-color:#577;
}

#sidebar .delete-button {
	background-color:#922;
	border-color:#a44;
	color:#ccc;
}

#sidebar .delete-button:hover {
	background-color:#932;
	border-color:#b44;
}

#sidebar .button-disabled {
	opacity:0.3;
}

.close {
	background-color: #555;
	color:#aaa;
	font-weight:bold;
	font-size:1.2rem;
	border-color: #aaa;
	border-radius: 4px;
	height:20px;
	width:20px;
	padding:4px;
	margin:5px;
	line-height:0;
}

#zoom {
	float:left;
	position:absolute;
	bottom:20px;
	left:20px;
}

.zoom-button {
	float:left;
	margin-right:15px;
	height:30px;
	width:30px;
	line-height:28px;
	text-align:center;
	background-color:#000;
	color:#fff;
	border-radius:20px;
	cursor:pointer;
}

.plus {
	line-height:30px;
}

.zoom-button:hover {
	background-color: #444;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#dialog {
	pointer-events:none;
	opacity: 0;
	float:left;
	position:absolute;
	top: 50%;
	left: 50%;
	padding:20px;
	background-color:#333;
	color:#ccc;
	-ms-transform: translate(-50%,-50%); /* IE 9 */
   	-webkit-transform: translate(-50%,-50%); /* Safari */
    transform: translate(-50%,-50%);
	-webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

#dialog p {
	margin:10px;
}

.bubble {
	pointer-events:none;
	font-family:'KomikaHand' Verdana, Geneva, sans-serif;
	text-align: center;
	background-size: 100% 100%;
}

.bubble p {
	pointer-events:none;
	padding: 12px 18px 20px;
	margin:0;
	font-size: 12px;
	line-height: 1.4rem;
}

.box p {
	pointer-events:none;
	font-size: 12px;
	padding: 15px;
}

/*!
 * 
 *  React Simpletabs - Just a simple tabs component built with React
 *  @version v0.7.0
 *  @link https://github.com/pedronauck/react-simpletabs
 *  @license MIT
 *  @author Pedro Nauck (https://github.com/pedronauck)
 * 
 */
.tabs-menu {
	display: table;
	list-style: none;
	padding: 0;
	margin: 0;
}

.tabs-menu-item {
	float: left;
	margin: 0 0 0 10px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-top: 2px solid #434343;
    /* border-radius:4px; */
    font-size:80%;
}

.tabs-menu-item a {
	padding:3px 10px;
	cursor: pointer;
	display: block;
	color: #A9A9A9;
	background-color:#434343;
}

.tabs-menu-item:not(.is-active) a:hover {
	background-color:#4e4e4e;
}

.tabs-menu-item:not(.is-active):hover {
	border-color: #4e4e4e;
}

.tabs-menu-item.is-active a {
	background-color:#555;
}

.tabs-menu-item.is-active {
	border-color: #3498DB;
}

.tab-panel {
	padding: 10px 20px;
	background-color:#555;
}