<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Basic Page Needs
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
	<title>Die Sieben Raben</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FONT
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

	<!-- CSS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" href="css/normalize.css">
	<!--<link rel="stylesheet" href="css/skeleton.css"> -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Favicon
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="icon" type="image/png" href="favicon.png">

	<script src="js/cwine-runtime.js" text="text/javascript"></script>
</head>
<body>

	<!-- Primary Page Layout
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<header>
		<img src="images/header.png" />
	</header>
	<div id="progress">
		<p>loading..</p>
		<div id="progress_bg"><div id="progress_bar" style="height:100%; width:0%;"></div></div>
	</div>

	<div id="panels">
		<div class="grid-sizer"></div>
		<div class="gutter-size"></div>
	</div>

	<footer>
		<p>Created by <a href="http://www.kristinsson.dk">Jón Kristinsson</a></p>
	</footer>

	<div class="font-preload" style="opacity:0;">
		<span style="font-family:UnmaskedBB;"></span>
		<span style="font-family:UnmaskedBB; font-weight:bold"></span>
		<span style="font-family:UnmaskedBB; font-style:italic"></span>
	</div>

	<script type="text/javascript" language="JavaScript">
		loadJSON('game.json');
	</script>
<!-- End Document –––––––––––––––––––––––––––––––––––––––?? -->

</body>
</html>